<style media="screen">
  .header_artist_show { background-image: url(<%= @artist.image_url %>); }
</style>

<div class="header_artist_show">
  <div class="artist_info">
    <h1><%= @artist.name%></h1>
    <p><%= @artist.description %></p>
  </div>
</div>

<div class="col-md-4"></div><BR>

<div class="col-md-4">
    <h2>Song Listing</h2>
    <!-- TO DO: List out songs by Artist. Haven't figured out how to do this -->

</div>

<div class="col-md-4"></div>
