<style media="screen">
  .header_artist_show { background-image: url('/assets/logo.jpg'); }

</style>
  <!-- TO DO: Figure out how to get artist image to display in the header -->

<div class="header_artist_show">
  <div class="artist_info">
    <h1><%= @song.try(:title) %></h1>
  </div>
</div>

<div class="col-md-4"></div><BR>

<div class="col-md-4">
    <h2>Leave a review</h2>
</div>

<div class="col-md-4"></div>
