<style media="screen">
  .header_artist_show { background-image: url('assets/logo.jpg'); }
</style>

<!--TO DO: Display the review -->
<div class="col-md-4"></div>
<div class="col-md-4"></div>
<div class="col-md-4"></div>
